@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;

  


  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid #ffffff;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $primary;
        color: #ffffff;
        border-color: $primary;
        transition: $button-transition;
        animation: animation $button-animation-time forwards;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }
}

.one {
  height: 500px;
}


