@import "../../../styles/settings.scss";

.root {
  background-color: #ffffff;
  
  margin-bottom: 2rem;

  .card {
    width: 36rem; 
    height: 9rem; 
    margin: 1rem;
  }
  .first_card{
    height: 20em;
    margin-left: 0;
    margin-right: 2rem;
  }
  .photo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cardRow {
    margin-left: 2rem;
  }
}
