@import "../../../styles/settings.scss";

.root {
  background-color: #ffffff;
  padding-bottom: 3em;
  .cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .card {
    @media (max-width: 768px){
      padding-bottom: 1em;
    }
  }
  .first_card{
    
  }
  .photo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cardRow {
    width: 100%;
    @media (max-width: 768px){
      padding-bottom: 1em;
    }

  }
}