@import "../../../styles/settings.scss";

.container {
  display: flex;
  padding-top: 2rem;
}

// left column

.leftColumn {
  padding: 0;
  margin: 0;
  padding-right: 10px;
  &:hover {
    .hoverContainer {
      visibility: visible;
    }
  }
}

.hotDeals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  background-color: $darkGray;
  color: white;
  padding: 5px 20px;
  span {
    margin: 0;
    text-transform: uppercase;
  }
}

.dots {
  ul {
    margin: 0;
    list-style: none;
    background-color: $darkGray;
  }
  li {
    display: inline-block;
    margin-left: 0.5rem;

    a {
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 6px;
      background-color: #e1e1e1;
      font-size: 0;

      &.active,
      &:hover {
        background-color: $primary;
      }
    }
  }
}

.hoverContainer {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 35%;
  visibility: hidden;
}

.hoverCart {
  position: absolute;
  top: 35%;
  left: 35%;
  z-index: 1;
}

.hoverDots {
  display: flex;
  position: absolute;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  justify-content: center;
}

.hoverDot {
  display: flex;
  text-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-top: 10px;
  margin: 0 5px;
  background-color: $darkGray;
  color: white;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 12px;
  span {
    font-size: 20px;
  }
}

// right column

.rightColumn {
  padding: 0 0 32px 10px;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }
}

.dealContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.deal {
  display: flex;
  position: absolute;
  top: 35%;
  background-color: rgba(5, 3, 3, 0.3);
  width: 100%;
  height: 35%;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  z-index: 1;
  h1 {
    font-weight: 200;
    font-size: 60px;
  }
  span {
    padding-left: 25px;
    font-weight: 600;
  }
  h2 {
    font-size: 30px;
    font-weight: 200;
  }
  button{
    position: absolute;
    top: 85%;
    height: 30%;
    width: 20%;
    padding: 0 15px;
    background-color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    &:hover{
        background-color: $darkGray;
        color: $goldenBrown;
    }
  }
}
.arrows {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 93%;
  width: 100%;
  height: 7%;
  .arrowLeft,
  .arrowRight {
    width: 50%;
    background-color: $darkGray;
    color: white;
    &:hover {
      background-color: $goldenBrown;
    }
  }
}
