$base-padding: 24px;

/* COLORS FOR CUSTOMIZATION BY THE CLIENT */
$royalBlue: #4169e1;
$oliveGreen: #556b2f;
$plum: #dda0dd;
$teal: #008080;
$coral: #ff7f50;
$extremelyDarkGray: #080808;
$lightGoldenBrown: #e5b982;
$lightCharcoalGray: #545454;
$lightCharcoalGray: #444444;
$lightGray: #555555;
$lightGray: #4c4c4c;
$darkGoldenBrown: #a67329;
$veryDarkGray: #111111;
$veryDarkGoldenBrown: #754b1e;
$veryDarkCharcoalGray: #1e1e1e;
$veryDarkCharcoalGray: #141414;

/* COLORS USED IN THE PROJECT */
$goldenBrown: #d58e32;
$darkCharcoalGray: #434343;
$charcoalGray: #363636;
$darkGray: #2a2a2a;
$veryDarkGray: #292929;


$header-topbar-bg: $darkCharcoalGray;
$header-bg: $charcoalGray;

$footer-claim-bg: $darkGray;
$footer-bg: $charcoalGray;

$primary: $goldenBrown;

$text-color: $darkGray;

$form-border-color: $veryDarkGray;
