@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 205px;

    .icon:first-child {
      color: $primary;
      position: relative;
      left: 10px;
      z-index: 0;
      margin-right: 5px;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    .dropdown {
      margin:0 auto;
    }

    .dropdown-btn {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      color: $text-color;
      position: relative;
      border: none;
      box-shadow: none;
      z-index: 1;
      max-width: 195px;
      overflow: hidden;
    }
    .submenu-dropdown {
      position: relative;
    }

    .submenu-dropdown>div.submenu {
      display: none ;
      top:0;
      left:100% !important;
      transform: none !important;
    }

    .submenu-select .icon{
      position: relative;
      margin-left: 7px;
      color: $text-color;
    }

    .submenu-dropdown:hover {
      .submenu{
        display: block;
      }
    }

    .dropdown>.dropdown-btn:focus, .dropdown>.dropdown-btn:active {
        box-shadow: none;
        background: transparent;
        border: none;
        color: $text-color;
      }

  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: red($color: #000000);
      outline: none;
    }
  }
}

