@import "../../../styles/settings.scss";

.root {
  padding: 80px 0;
  .columns-wrapper {
    height: 600px;
    position: relative;
    padding:0 15px ;
  }
  .left-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .image {
    position:absolute;
    top: 0%;
    left: 0%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .slider {
    display: flex;
    border: 1px solid #e1e1e1;
    padding: 10px 30px;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    align-items: center;

    .product-img {
      min-width: 90px;
      height:80px;
      position: relative;
      border: 1px solid $text-light;
      margin: 0 3px;
      background-color: $veryLightGray;
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $text-light;
        opacity: 0.5;
      }
      &:hover::after {
        opacity: 0;
      }
    }
    .visible {
      &::after{
        opacity: 0;
      }
    }

    .icon {
      font-size: small;
    }

    .slide-button {
      position: absolute;
      background-color: $form-border-color;
      color: $text-light;
      height: 100%;
      width: 30px;
      border: none;
    }

    .prev {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .next {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
}

  hr {
    margin-bottom: 20px;
    width: 100%;
    border-top: 2px solid $veryLightGray;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      width: 40px;
      border-bottom: 4px solid $primary;
    }
  }

  h3,button {
    color: $primary;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 38px;
    margin: 0;
    letter-spacing: 1px;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    li {
      flex: 1;
      text-align: center;
      list-style: none;
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      border-top: 4px solid #ffffff;
      font-weight: 500;
      letter-spacing: 1px;
      p {
        margin: 0;
      }

      &:hover,
      &.active {
        background-color:$veryLightGray;
        color: $primary;
        border-color: $primary;
        transition: $button-transition;
        *{
          animation: animation $button-animation-time forwards;
        }
      }

    }
  }

  .side-photo {
    height: 600px;
    position: relative;
    background-color: $veryLightGray;
    object-fit: contain;

    .text-wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      top:10%;
      left: 10%;
      * {
        margin-top:20px;
      }
    }

    h3 {
      color:$text-color;
      font-size: 19px;
      font-weight: 600;
      margin: 3px;
    }

    .text-primary {
      text-transform: capitalize;
      display: block;
      color: $primary;
      font-size: 43px;
      font-weight: 600;
      margin: 3px;

    }
    .text-green {
      color: $lightGreen;
      font-size: 40px;
      font-weight: 600;
      margin: 3px;
    }


    button {
      background-color: $lightGreen;
      color: #fff;
      border: none;
      font-size: 20px;
      padding: 6px 20px;
      font-weight: 500;
      width: fit-content;
      margin-top: 30px;
      z-index: 1;

      &:hover {
        animation: animation $button-animation-time forwards;
      }
    }
    img {
      position: absolute;
      bottom: -10%;
      left:15%;
      object-fit:contain;
      width:80%;
      height:80%;
    }
  }
}
