@import "../../../styles/settings.scss";

.root {
  height: 70%;
  position: relative;
  img {
    position:absolute;
    top: 0%;
    left: 0%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: $lightGray;
  }

  .outlines {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    a {
      margin: 3px;
      position: relative;
    }
    a:hover {
      color:$primary;
      border-color: $primary;
      background-color: transparent;

      .tooltip {
        display: block;
      }
    }
  }
  .tooltip {
    display: none;
    color: #fff;
    background: $text-color;
    position: absolute;
    padding: 2px 6px;
    font-size: smaller;
    border-radius: 3px;
    left: 120%;
    top:0;
    white-space: nowrap;
    text-transform: capitalize;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right:5px solid $text-color;
      left:0;
      top:50%;
      transform: translate(-90%, -50%);

    }
  }

  .circle-price {
    position: absolute;
    right: 75px;
    bottom: 110px;
    width:100px;
    height: 100px;
    border-radius: 50%;
    background: rgba($darkGray, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      color: $text-light;
      font-size: 20px;
      margin: 0;
    }
    span {
      font-size: 17px;
      position: relative;
    }

    .crossed::after {
      content: '';
      position: absolute;
      height: 2px;
      background-color: $veryLightGray;
      width: 120%;
      top:50%;
      transform: translateY(-50%);
      left: -10%;
      opacity: 0.7;
    }
  }

  .product-details {
    position: absolute;
    right: 3px;
    bottom: 20px;
    width: 250px;
    height: 100px;
    box-shadow: 0 10px 20px -10px $text-color;
    background: linear-gradient(135deg, $text-color 10%, #fff 10%, #fff 90%, $text-color 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
      }
    }
  }

}
